.gtUI-modal-content {
  color: var(--fg-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.gtUI-title {
  color: var(--fg-color);
  font-weight: 200;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.audio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.play-pause-button {
  background-color: #ff5722;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 24px;
  height: 50px;
  width: 50px;
}

.play-pause-button:focus {
  outline: none;
}

.button-icon {
  font-size: 24px;
}
