attrs>=25.1.0
openai>=1.58.1
griptape[all]>=1.4.0
python-dotenv
poetry==1.8.5
git+https://github.com/griptape-ai/griptape-black-forest.git
git+https://github.com/mertdeveci5/griptape-serper-driver-extension.git